@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.custom-swiper-scrollbar {
  height: 80px !important; /* increase thickness */
  background-color: rgba(18, 18, 18, 0.58);
  border-radius: 80px;
}

.custom-swiper-scrollbar .swiper-scrollbar-drag {
  background-color: #1e40af; /* blue-800 */
  border-radius: 100px;
}

/* globals.css */
.calendar-horizontal .rdp-months {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}